if SHIELD_ORTEX_TEST_R

config ZMK_KEYBOARD_NAME
    default "ortex_test"

config ZMK_BLE
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config INPUT
    default y

config ZMK_POINTING
    default y

config SPI
    default y

config PMW3610_ALT
    default y

endif

if SHIELD_ORTEX_TEST_L || SHIELD_ORTEX_TEST_R
config ZMK_SPLIT
    default y

endif